{{ define "main" }}

<section class="site-services-heading">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-services-wrapper">
          <div class="site-services-company">
            <h1>
              {{ .Params.heading }}
            </h1>
          </div>
          <div class="site-services-description">
            <p>
              {{ .Description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-services">
  <div class="container">
    <div class="row">
      {{ with .Params.services_title }}
      <div class="col-md-5">
        <div class="section-title">
          <h2>{{ . }}</h2>
        </div>
      </div>
      {{ end }}
      <div class="col-md-6">
        <ul class="site-services-list">
          {{ range .Params.services_sectors }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}