{{ define "main" }}
<section class="site-services-header">
    <div class="container">
        <div class="row">
            {{ with .Params.mainservice }}
            <div class="col-md-5">
                <div class="site-services-title">
                    <h1>{{ . }}</h1>
                </div>
            </div>
            {{ end }}
            <div class="col-md-7">
                <ul class="site-services-list">
                    {{ range .Params.mainservicedesc }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="site-services-header">
    <div class="container">
        <div class="row">
            {{ with .Params.secondaryservice }}
            <div class="col-md-5">
                <div class="site-services-title">
                    <h1>{{ . }}</h1>
                </div>
            </div>
            {{ end }}
            <div class="col-md-7">
                <ul class="site-services-list">
                    {{ range .Params.secondaryservicedesc }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="site-services-header">
    <div class="container">
        <div class="row">
            {{ with .Params.otherservices }}
            <div class="col-md-5">
                <div class="site-services-title">
                    <h1>{{ . }}</h1>
                </div>
            </div>
            {{ end }}
            <div class="col-md-7">
                <ul class="site-services-list">
                    {{ range .Params.otherservicesdesc }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="site-services-header">
    <div class="container">
        <div class="row">
            {{ with .Params.price }}
            <div class="col-md-5">
                <div class="site-services-title">
                    <h1>{{ . }}</h1>
                </div>
            </div>
            {{ end }}
            <div class="col-md-7">
                <ul class="site-services-list">
                    {{ range .Params.pricedesc }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{ partial "call-to-action.html" . }} {{ end }}
