.btn {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 600;
  border: none;
  color: $dark-shade6 !important;
  border-radius: 0;

  &:focus {
    box-shadow: none;
  }

  @include desktop {
    padding: 18px 40px;
  }

  .btn-area {
    display: block;
    overflow: hidden;

    span {
      position: relative;
      display: inline-block;
      padding: 2px 0;
      transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
      transform-origin: left center;

      &::after {
        content: attr(data-text);
        position: absolute;
        top: 150%;
        left: 0;
        transform: skewY(30deg);
        transform-origin: left center;
        transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }

  &:hover {
    .btn-area {
      span {
        transform: translateY(-150%) skewY(7deg);

        &::after {
          transform: skewY(-7deg);
        }
      }
    }
  }

  &:visited {
    .btn-area {
      span {
        transform: translateY(-150%) skewY(7deg);

        &::after {
          transform: skewY(-7deg);
        }
      }
    }
  }
}

.btn-sm {
  padding: 14px 40px !important;
}

.btn-sm-rounded {
  border-radius: 40px;
}

.btn-primary {
  background: $button-bg1;

  &:hover {
    background: darken($color: $button-bg1, $amount: 12);
  }
}

.btn-secondary {
  background: $button-bg2;

  &:hover {
    background: darken($color: $button-bg2, $amount: 12);
  }
}
