html {
  scroll-behavior: smooth;
}

body {
  background: $dark-shade0;
}

.form-control {
  color: $dark-shade6;
  background: transparent;
  border-radius: 0;
  margin-bottom: 30px;
  padding: 0 0 10px 0;
  border-width: 0 0 2px 0;
  border-color: $dark-accent5;
  -webkit-appearance: none;
  height: 42px;

  &:focus {
    color: $dark-shade5;
    box-shadow: none;
    background: transparent;
    border-color: $dark-accent7;
  }
}

textarea.form-control {
  height: auto;
}
