@mixin mobile-xs {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin desktop-lg {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin desktop-xl {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin desktop-4k {
  @media (min-width: 2000px) {
    @content;
  }
}

@mixin size($size) {
  width: $size;
  height: $size;
}
