//site color variables
$body-color: #171b24;
$primary-color: #f28779;
$secondary-color: #5ccfe6;
$text-color: #0f1419;
$text-color-dark: #d9d7ce;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #707a8c;
$dark-gray: #242936;

// solid colors
$white: #f3f4f5;
$black: #0f1419;

// main color scheme
$dark-shade0: #171b24;
$dark-shade1: #1f2430;
$dark-shade2: #242936;
$dark-shade3: #707a8c;
$dark-shade4: #8a9199;
$dark-shade5: #cccac2;
$dark-shade6: #d9d7ce;
$dark-shade7: #f3f4f5;
$dark-accent0: #f28779;
$dark-accent1: #ffad66;
$dark-accent2: #ffd173;
$dark-accent3: #d5ff80;
$dark-accent4: #95e6cb;
$dark-accent5: #5ccfe6;
$dark-accent6: #d4bfff;
$dark-accent7: #f29e74;

// Font Variables
$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Alegreya Sans', sans-serif;