//site color variables
$body-color: #171b24;
$primary-color: #ffd173;
$secondary-color: #95e6cb;
$text-color: #f3f4f5;
$text-color-dark: #cccac2;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #707a8c;
$dark-gray: #242936;

// solid colors
$white: #f3f4f5;
$black: #171b24;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
