//site color variables
$body-color: #171b24;
$primary-color: #f28779;
$secondary-color: #5ccfe6;
$text-color: #0f1419;
$text-color-dark: #d9d7ce;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #707a8c;
$dark-gray: #242936;

// solid colors
$white: #f3f4f5;
$black: #0f1419;

// main color scheme
$dark-shade0: #171b24;
$dark-shade1: #1f2430;
$dark-shade2: #242936;
$dark-shade3: #707a8c;
$dark-shade4: #8a9199;
$dark-shade5: #cccac2;
$dark-shade6: #d9d7ce;
$dark-shade7: #f3f4f5;
$dark-accent0: #f28779;
$dark-accent1: #ffad66;
$dark-accent2: #ffd173;
$dark-accent3: #d5ff80;
$dark-accent4: #95e6cb;
$dark-accent5: #5ccfe6;
$dark-accent6: #d4bfff;
$dark-accent7: #f29e74;

// darker color scheme
$darker-shade0: #0f1419;
$darker-shade1: #131721;
$darker-shade2: #272d38;
$darker-shade3: #3e4b59;
$darker-shade4: #bfbdb6;
$darker-shade5: #e6e1cf;
$darker-shade6: #e6e1cf;
$darker-shade7: #f3f4f5;
$darker-accent0: #f07178;
$darker-accent1: #ff8f40;
$darker-accent2: #ffb454;
$darker-accent3: #b8cc52;
$darker-accent4: #95e6cb;
$darker-accent5: #59c2ff;
$darker-accent6: #d2a6ff;
$darker-accent7: #e6b673;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;