// Color scheme
$dark-shade0: #171B24;
$dark-shade1: #1F2430;
$dark-shade2: #242936;
$dark-shade3: #707A8C;
$dark-shade4: #8A9199;
$dark-shade5: #CCCAC2;
$dark-shade6: #D9D7CE;
$dark-shade7: #F3F4F5;
$dark-accent0: #F28779;
$dark-accent1: #FFAD66;
$dark-accent2: #FFD173;
$dark-accent3: #D5FF80;
$dark-accent4: #95E6CB;
$dark-accent5: #5CCFE6;
$dark-accent6: #D4BFFF;
$dark-accent7: #F29E74;
$button-bg1: #CB7459;
$button-bg2: #00A0BE;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);

// Font Variables
$primary-font: "Source Sans Pro", sans-serif;
$secondary-font: "Alegreya Sans", sans-serif;
