{{ define "main" }}
<section class="site-blog-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="site-blog-header-content">
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-blog" id="blog">
    <div class="container">
        <div class="row">
            {{ range (.Paginator 4).Pages }}
            <div class="col-lg-6">
                <article class="site-blog-post">
                    <div class="site-blog-post-content">
                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                        <p>{{ .Summary }}</p>
                        <a class="read-more" href="{{ .Permalink }}">Read on</a>
                    </div>
                </article>
            </div>
            {{ end }}
            <div class="col-12">
                <div class="site-blog-pagination">
                    {{ template "_internal/pagination.html" . }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
