{{ define "main" }}
<section class="site-blog details">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <article class="site-blog-details">
                    <h1 class="blog-title">{{ .Title }}</h1>
                    {{ .Content }}
                </article>
            </div>
        </div>
    </div>
</section>
{{ end }}
