{{ define "main" }}
<section class="site-project-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="site-project-header-content">
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-project" id="project">
    <div class="container">
        <div class="row">
            {{ range (.Paginator 4).Pages }}
            <div class="col-lg-6">
                <div class="site-project-item">
                    <div class="site-project-item-content">
                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                        <p><a href="{{ .Permalink }}">by {{ .Summary }}</a></p>
                        <a class="read-more" href="{{ .Permalink }}">Listen</a>
                    </div>
                </div>
            </div>
            {{ end }}
            <div class="col-12">
                <div class="site-project-pagination">
                    {{ template "_internal/pagination.html" . }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "call-to-action.html" . }} {{ end }}
