{{ define "main" }}
<section class="site-project-single-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="site-project-single">
                    <div class="site-project-single-description">{{ .Content }}</div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "call-to-action.html" . }}
{{ end }}
