.site-about {
  &-header {
    padding-top: 10%;

    &:not(:first-child) {
      padding-top: 5%;
    }

    background-color: $dark-shade0;

    @include desktop {
      padding-top: 15%;
    }

    @include mobile {
      padding-top: 15%;
      text-align: center;
    }
  }

  &-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-titlebox {
    background: $dark-shade0;
    width: 40%;
    padding-bottom: 5%;

    @include desktop {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &-title {
    align-items: center;
    flex-wrap: wrap;

    @include desktop {
      width: 100%;
      padding: 7% 7%;
    }
  }

  &-list {
    padding: 0;
    margin: 0 0 0 20%;

    @include mobile {
      text-align: center;
      margin: 0;
    }

    li {
      list-style: none;
      font-size: 25px;
      font-weight: 400;
      width: 100%;
      color: $dark-shade6;

      &:not(:last-child) {
        margin-bottom: 7%;
      }
    }
  }
}
