.site {
  &-blog {
    @extend .site-project;

    @include mobile {
      padding: 70px 0;
    }

    &.details {
      padding: 10% 0 8%;

      @include tablet {
        text-align: center;
        padding-top: 25%;
      }
    }

    &-header {
      padding: 150px 0 5%;

      @include tablet {
        padding: 120px 0 10%;
      }

      &-content {
        h1 {
          font-size: 50px;

          span {
            font-family: $secondary-font;
            color: $dark-accent1;
          }

          @include tablet {
            font-size: 40px;
          }
        }

        @include desktop {
          text-align: center;
          margin-bottom: 30px;
        }
      }

      &-action {
        display: block;
        text-align: center;

        span {
          display: block;
          font-size: 30px;
          font-weight: 300;
          color: $dark-shade6;
          margin-bottom: 20px;

          @include tablet {
            font-size: 25px;
          }
        }

        &:hover {
          text-decoration: none;
        }
      }
    }

    &-post {
      @extend .site-project-item;

      &-content {
        @extend .site-project-item-content;

        @include mobile {
          padding: 15px 25px 40px;
        }

        span {
          font-size: 14px;
          color: $dark-shade6;
        }

        h3 {
          margin-bottom: 5%;

          @include mobile {
            font-size: 20px;
          }
        }

        a.read-more {
          position: absolute;
          bottom: 40px;
          width: 100%;
          color: $dark-shade6;
          opacity: 0;
          transform: translateY(20px);
          transition: all 0.3s $site-ease;

          &:hover {
            text-decoration: none;
            color: $dark-accent1;
          }

          @include tablet {
            transform: translateY(0);
            opacity: 0;
          }
        }
      }
    }

    &-details {
      img {
        max-width: 100%;
        margin-bottom: 20px;
      }

      .blog-title {
        font-size: 40px;
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 15px;
      }

      blockquote {
        p {
          color: $dark-shade6;
          font-size: 18px;
        }
      }

      cite {
        margin-top: 10px;
        display: block;
      }
    }
  }
}
