.site-contact {
  padding-top: 15%;
  padding-bottom: 3%;
  background: $dark-shade0;

  @include mobile {
    padding: 16%;
  }

  &-title {
    padding-top: 7%;
    padding-bottom: 12%;

    span {
      color: $dark-accent1;
    }

    @include mobile {
      margin-top: 30%;
      margin-bottom: 30%;
      font-size: 55px;
      text-align: center;
    }

    @include tablet {
      margin-top: 30%;
      margin-bottom: 16%;
      font-size: 55px;
    }
  }

}

.col-sm-12 {
  color: $dark-accent1;
  margin-top: 7%;
}

.form-check-label {
  font-size: 18px;
  font: $primary-font
}

.col-form-label {
  font-size: 18px;
  padding-top: 10%;
  padding-bottom: 3%;

  @include mobile {
    font-size: 18px;
    padding-top: 18%;
    padding-bottom: 5%;
  }

}

