.site-counter {
  height: 100%;
  padding-bottom: 5%;
  background-size: cover;
  background-position: center;

  .section-title {
    margin-top: 12%;
    margin-bottom: 7%;
  }

  @include mobile {
    padding: 50px 0;
  }

  &-item {
    @include desktop {
      margin-bottom: 7%;
      text-align: center;
    }

    &-number {
      color: $dark-accent1;
      margin-bottom: 7%;
    }
  }
}
