.site-counter{
  width: 100%;
  height: 100%;
  padding: 5% 0;
  color: $text-color-dark;
  background-size: cover;
  background-position: center center;
  .section-title{
    margin-bottom: 40px;
  }
  @include mobile{
    padding: 50px 0;
  }
  &-item{
    @include desktop{
      margin-bottom: 30px;
      text-align: center;
    }
    &-title{
      font-size: 20px;
      font-weight: 300;
    }
    &-number{
      color: $text-color-dark;
      font-size: 60px;
      margin-bottom: 55px;
      font-weight: 550;
    }
  }
}