.site-generic {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
  color: $dark-shade6;
  background: $dark-shade0;

  .section-title {
    padding-top: 5%;
    margin-bottom: 7%;
  }

  @include mobile {
    padding: 17%;
  }

  &-blurb {
    @include desktop {
      text-align: center;
    }

    &-title {
      margin-bottom: 7%;
      font-weight: 300;
    }

    &-body {
      color: $dark-shade6;
      font-size: 40px;
      margin-bottom: 15%;
    }
  }
}