.site-project {
  background: $dark-shade0;
  overflow: hidden;

  &-item {
    position: relative;
    margin-bottom: 30px;
    transition: all 0.3s ease-in;

    &-thumb {
      width: 100%;
    }

    &-content {
      position: relative;
      background: $dark-shade2;
      width: 100%;
      padding: 45px 50px;
      bottom: 0;
      transition: all 0.3s $site-ease;

      @include tablet {
        padding: 30px 30px 75px;
      }

      span {
        font-family: $secondary-font;
        color: $dark-shade6;
        display: block;
        margin-bottom: 10px;
      }

      h3 {
        margin-bottom: 5%;

        a {
          color: $dark-shade6;
          transition: 0.3s ease;

          &:hover {
            text-decoration: none;
            color: $dark-accent1;
          }
        }
      }

      p {
        margin-bottom: 5%;

        a {
          color: $dark-shade6;
          transition: 0.3s ease;

          &:hover {
            text-decoration: none;
            color: $dark-accent1;
          }
        }
      }

      a.read-more {
        position: absolute;
        bottom: 40px;
        display: block;
        width: 100%;
        color: $dark-shade6;
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.3s $site-ease;

        &:hover {
          text-decoration: none;
          color: $dark-accent1;
        }

        @include tablet {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }

    &:hover {
      box-shadow: 0 30px 45px 0 rgba(0, 0, 0, 0.01),
      0 30px 45px 0 rgba(0, 0, 0, 0.02), 0 30px 45px 0 rgba(0, 0, 0, 0.03),
      0 30px 45px 0 rgba(0, 0, 0, 0.04);

      .site-project-item-content {
        a {
          transform: translateY(0);
          opacity: 1;
        }

        padding-bottom: 75px;
      }
    }
  }

  &-cta {
    margin-top: 30px;
    margin-bottom: 10%;
    display: inline-block;
    position: relative;
    font-family: $primary-font;
    font-size: 22px;
    color: $dark-accent1;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: $dark-accent1;
      bottom: -2px;
      transition: transform 0.3s $site-ease;
      transform-origin: right;
      transform: scaleX(0);
    }

    &:hover {
      color: $dark-accent1;
      text-decoration: none;

      &::before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  &-header {
    padding: 150px 0 5%;

    @include tablet {
      padding: 120px 0 10%;
    }
  }


  &-pagination {
    margin-top: 5%;
  }

  &-single {
    &-section {
      padding: 3% 0;
      text-align: center;
      @include desktop {
        padding: 5% 0;
      }
      @include tablet {
        padding: 12% 0;
      }
    }
  }
}

a {
  color: $dark-accent1;
  transition: all 0.15s ease-in;

  &:hover {
    text-decoration: none;
    color: $dark-accent5;
  }
}

p {
  margin-top: 0;

  &:not(:first-child) {
    margin-bottom: 3%;
  }
}

.bg-dark {
  background-color: $dark-shade2 !important;
}

.card {
  background-color: $dark-accent2;
  border: 2px solid rgba(0, 0, 0, .125);
  margin-top: 7%;
}

audio {
  margin-top: 7%;
}
