.site-slogan {
  background: $dark-shade0;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;

  .section-title {
    padding-top: 5%;
    margin-bottom: 7%;
  }

  @include mobile {
    padding: 13%;
  }

  &-subtitle {
    @include mobile {
      margin-top: 15%;
      margin-bottom: 7%;
    }

    margin-top: 5%;
    margin-bottom: 1%;
  }

  &-more {
    display: inline-block;
    position: relative;
    margin-top: 9%;

    @include mobile {
      margin-top: 13%;
    }

    font-family: $primary-font;
    font-size: 24px;
    color: $dark-accent1;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: $dark-accent1;
      bottom: -2px;
      transition: transform 0.3s $site-ease;
      transform-origin: right;
      transform: scaleX(0);
    }

    &:hover {
      color: $dark-accent1;
      text-decoration: none;

      &::before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}