.site-testimonial {
  height: 100%;
  padding: 10% 0;
  color: $dark-shade6;
  background-size: cover;
  background: center;

  .section-title {
    margin: 5% 0;
    align-items: center;
  }

  &-item {
    color: $dark-shade6;
    background: $dark-shade2;
    padding: 10%;
    margin-bottom: 5%;
    transition: all 0.15s ease-in;

    &.active {
      box-shadow: 0 30px 45px 0 rgba(0, 0, 0, 0.05);
    }

    &.inactive {
      opacity: 0.6;
    }

    &-header {
      display: flex;
      align-items: center;
      margin-bottom: 7%;
    }

  }
}
