{{ define "main" }}
<section class="site-about-header">
    <div class="container">
        <div class="row">
            {{ with .Params.maintitle }}
            <div class="col-md-5">
                <div class="site-about-title">
                    <h1>{{ . }}</h1>
                </div>
            </div>
            {{ end }}
            <div class="col-md-7">
                <ul class="site-about-list">
                    {{ with .Params.maindesc }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="site-about-header">
    <div class="container">
        <div class="row">
            {{ with .Params.secondarytitle }}
            <div class="col-md-5">
                <div class="site-about-title">
                    <h1>{{ . }}</h1>
                </div>
            </div>
            {{ end }}
            <div class="col-md-7">
                <ul class="site-about-list">
                    {{ range .Params.secondarydesc }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{ partial "call-to-action.html" . }} {{ end }}
