{{ with .Site.Params.call_to_action }} {{ if .enable }}
<section class="site-cta" id="site-cta">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="site-cta-title">{{ .title }}</h1>
                <ul class="site-cta-buttons">
                    <li>
                        <a class="btn btn-sm btn-secondary btn-sm-rounded" href="{{ .primary_button_url | absURL }}">
              <span class="btn-area">
                <span data-text="{{ .primary_button }}">
                  {{ .primary_button }}
                </span>
              </span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-primary btn-sm-rounded" href="{{ .secondary_button_url | absURL }}">
              <span class="btn-area">
                <span data-text="{{ .secondary_button }}">
                  {{ .secondary_button }}
                </span>
              </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</section>
{{ end }} {{ end }}
