{{ with .Site.Params.counter }} {{ if .enable }}
<section class="site-counter" id="counter">
    <section class="site-counter" style="background-image: url('{{ .background_image_counter }}');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h1>{{ .heading }}</h1>
                    </div>
                </div>
                {{ range .item }}
                <div class="col-md-6">
                    <div class="site-counter-item">
                        <h6 class="site-counter-item-title">{{ .title }}</h6>
                        <h1 class="site-counter-item-number">{{ .number }}</h1>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
</section>
{{ end }} {{ end }}
