{{ with .Site.Params.generic }} {{ if .enable }}
<section class="site-generic" id="generic">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h1>{{ .heading }}</h1>
                </div>
            </div>
            {{ range .blurb }}
            <div class="col-lg-4 col-md-6">
                <div class="site-generic-blurb">
                    <h4 class="site-generic-blurb-title">{{ .title }}</h4>
                    <div class="site-generic-blurb-body">{{ .body }}</div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }} {{ end }}
