<head>
    <meta charset="utf-8"/>
    <title>{{ .Title }}</title>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer data-domain="https://ripplestud.io" src="https://ripplestud.io/js/script.js"></script>

    {{ "<!-- mobile responsive meta --> " | safeHTML }}
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    {{ with .Site.Params.author }}
    <meta content="{{ . }}" name="author">
    {{ end }}
    {{ hugo.Generator }}
    {{ "<!-- Bootstrap --> " | safeHTML }}
    {{ $bootstrap := resources.Get "css/bootstrap.css" | minify }}
    <link href="{{ $bootstrap.Permalink }}" rel="stylesheet"/>
    {{ "<!-- font-awesome --> " | safeHTML }}
    <link rel="stylesheet" href="{{ "font-awesome/css/font-awesome.min.css" | absURL }}" />
    {{ "<!-- Main Stylesheets --> " | safeHTML }}
    {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | minify }}
    <link href="{{ $style.Permalink }}" rel="stylesheet"/>

    <meta name="keywords" content="{{ if .Params.Keywords }}{{ delimit .Params.Keywords ", " }}{{ end }}">

    <!--Favicon-->
    <link rel="shortcut icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />
    <link rel="icon" href="{{ "images/favicon.ico" | absURL }}" type="image/x-icon" />
</head>
