{{ with .Site.Params.banner }} {{ if .enable }} {{ "<!-- Site Hero Start -->" |
safeHTML }}
<section class="site-hero" style="background-image: url('{{ .background_image }}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="site-hero-content text-center">
                    <h6>{{ .tagline }}</h6>
                    <h1>{{ .heading }}</h1>
                    <ul class="site-hero-content-buttons">
                        <li>
                            <a
                                    class="btn btn-sm btn-secondary btn-sm-rounded"
                                    href="{{ .primary_button_url | absURL }}"
                            >
                <span class="btn-area">
                  <span data-text="{{ .primary_button }}">
                    {{ .primary_button }}
                  </span>
                </span>
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-sm btn-primary btn-sm-rounded" href="{{ .secondary_button_url | absURL }}">
                <span class="btn-area">
                  <span data-text="{{ .secondary_button }}">
                    {{ .secondary_button }}
                  </span>
                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a class="site-hero-scroll scroll-to" href="#generic">
        <img alt="arrow-down" src="images/arrow-down.svg"/>
    </a>
</section>
{{ "<!-- Site Hero End -->" | safeHTML }} {{ end }} {{ end }}
