{{ with .Site.Params.slogan }} {{ if .enable }}
<section class="site-slogan" id="slogan">
    <div class="container">
        <div class="row">
            <div class="col-12-md">
                <div class="section-title">
                    <h1>{{ .title }}</h1>
                    <div class="site-slogan-subtitle">
                        <h6>{{ .subtitle }}</h6>
                    </div>
                    <div class="site-slogan-extracontent">
                        <h6>{{ .extracontent }}</h6>
                    </div>
                    <a class="site-slogan-more" href="about">More</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }} {{ end }}
