{{ with .Site.Data.team }} {{ if .enable }}
<section class="site-team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>{{ .title }}</h2>
                </div>
            </div>
            {{ range .members }}
            <div class="col-lg-4 col-md-6">
                <div class="site-team-member">
                    <div class="site-team-member-image">
                        <img alt="team-member" src="{{ .image | absURL }}"/>
                    </div>
                    <div class="site-team-member-content">
                        <h3>{{ .name }}</h3>
                        <p>{{ .designation }}</p>
                        <ul class="site-team-member-social">
                            <li>
                                <a href="{{ .medium | absURL }}"><i class="fa fa-medium"></i></a>
                            </li>
                            <li>
                                <a href="{{ .linkedin | absURL }}"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="{{ .instagram | absURL }}"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }} {{ end }}
