{{ with .Site.Params.testimonial }} {{ if .enable }}
<section class="site-testimonial" style="background-image: url('{{ .background_image_testimonial }}');">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h1>{{ .title }}</h1>
                    <h6>{{ .subtitle }}</h6>
                </div>
            </div>
            {{ range .item }}
            <div class="col-lg-4 col-md-6">
                <div class="site-testimonial-item">
                    <div class="site-testimonial-item-header">
                        <div class="track">
                            <h5>{{ .track }}</h5>
                            <p>by {{ .artist }}</p>
                        </div>
                    </div>
                    <audio controls controlsList="nodownload noplaybackrate" style="width:100%; max-width: 600px;">
                        <source src="/audio/{{ .song }}.wav" type="audio/wav">
                        <source src="/audio/{{ .song }}.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }} {{ end }}
