{{ define "main" }}
<section class="site-contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="site-contact-title">{{ .Params.heading | safeHTML }}</h1>
            </div>
            <form data-netlify="true" method="post" name="contact">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Name" aria-label="Name">
                    </div>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Email/Phone number"
                               aria-label="Email/Phone number">
                    </div>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="checkboxMixing" value="mixing">
                    <label class="form-check-label" for="checkboxMixing">Mixing</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="checkboxRecording" value="recording">
                    <label class="form-check-label" for="checkboxRecording">Recording</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="checkboxOther" value="other">
                    <label class="form-check-label" for="checkboxOther">Other</label>
                </div>
                <div class="mb-6">
                    <label for="infotextbox" class="col-form-label">Any relevant information</label>
                    <textarea class="form-control" id="infotextbox" rows="5"></textarea>
                </div>
                <div class="mb-6">
                    <label for="demoFiles" class="col-form-label">Attach demo or recordings</label>
                    <input class="form-control" type="file" id="demoFiles" multiple>
                </div>
            </form>
        </div>
    </div>
</section>
{{ end }}
