{{ $name := .Get "name"}}
{{ $artwork := .Get "artwork"}}
{{ $artist := .Get "artist"}}

<div class="view">
    <div class="mask gradient-card align-items-center">
        <div class="container d-flex justify-content-center my-4 mb-5">
            <div id="mobile-box">
                <div class="card">
                    <div class="view">
                        <img class="card-img-top" src="/images/Art/{{ $artwork }}.png"
                             alt="Artwork">
                    </div>
                    <div class="card-body bg-dark text-center">
                        <h3 class="h3 font-weight-bold">{{ $name }}</h3>
                        <p class="mb-0 p">by {{ $artist }}</p>
                        <audio controls controlsList="nodownload noplaybackrate" style="width:100%; max-width: 600px;">
                            <source src="/audio/{{ $name }}.wav" type="audio/wav">
                            <source src="/audio/{{ $name }}.mp3" type="audio/mpeg">
                            Your browser does not support the audio format.
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
